<!DOCTYPE html>
<html>



<body>

<div id="qunit"></div>
<div id="qunit-fixture"></div>

<link rel="stylesheet" href="libs/qunit.css">
<script src="libs/jqunit.js"></script>

<script data-main="javascripts/requiretests" src="javascripts/require.js"></script>  


</body>


</html>
