<!DOCTYPE html>
<html>



<body>

<div id="qunit"></div>
<div id="qunit-fixture"></div>

<script src="libs/jquery.js"></script>
<link rel="stylesheet" href="libs/qunit.css">
<script src="libs/jqunit.js"></script>

<script src="javascripts/guid.js"></script>  
<script src="javascripts/korben.js"></script>  

<script src="javascripts/inittests.js"></script>  
<script src="javascripts/smoketests.js"></script>  
<script src="javascripts/errortests.js"></script>  

<script>

Korben.check(function(err) { 
	alert(err); 
});

</script>

</body>


</html>
